<!DOCTYPE html>
<html>
<head>
    <title>Онлайн редактор Python</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



</head>
<body>
    <div class="container">
        <div class="left-container">
            <div class="top-left-text">Введите код</div>
            <textarea id="query" class="code-input" rows="10" cols="50" placeholder="Введите код" tabindex="4"></textarea>
            <button id="execute-btn" class="execute-btn">Выполнить код</button>
            <input id="google-query" type="text" class="query-input" placeholder="Введите запрос для Google">
            <button id="google-search-btn" class="search-btn">Запрос в Google</button>
            <div id="output-google" class="output-google"></div>
        </div>
        <div class="right-container">
            <div class="top-right-text">Результат выполнения кода</div>
            <div id="output" class="output"></div>
            <input id="openai-prompt" type="text" class="query-input" placeholder="Введите запрос для OpenAI">
            <button id="openai-search-btn" class="search-btn">Запрос в OpenAI</button>
            <div id="output-openai" class="output"></div>
            <button id="change-chat-btn" class="search-btn">Сменить чат</button>
        </div>
    </div>
</body>
<script src="script.js"></script>
</html>
